In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [18]:
bank=pd.read_csv('bank-full.csv',delimiter=";")

In [20]:
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [21]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [22]:
bank.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [23]:
bank.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [24]:
X = bank.iloc[:, :-1] 
y = bank.iloc[:, -1]

In [25]:
X = pd.get_dummies(X, columns=['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome'])

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [28]:
model = LogisticRegression()
model.fit(X_train, y_train)
pred = model.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [32]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

          no       0.90      0.98      0.94      7980
         yes       0.57      0.20      0.29      1063

    accuracy                           0.89      9043
   macro avg       0.73      0.59      0.62      9043
weighted avg       0.86      0.89      0.86      9043

In [36]:
model.coef_

array([[-2.12949943e-02,  2.45930978e-05, -1.35363586e-02,
         3.83162571e-03, -4.18258649e-01,  2.52613386e-03,
        -1.09344118e-01, -2.17955572e-02, -2.34073915e-01,
        -2.65525772e-02, -9.43919912e-03,  1.46677907e-03,
         1.49672264e-01, -1.27524778e-02, -8.52311338e-02,
         2.53427816e-02, -6.14921644e-02,  1.05577635e-02,
         3.79126678e-03,  2.50575092e-02, -1.75943379e-01,
        -1.09620300e-01, -6.54555931e-02, -2.48688100e-01,
         4.19402390e-02,  1.16972847e-02, -2.41619793e-01,
        -1.88863763e-02,  3.48945747e-01, -6.09451917e-01,
        -7.52434822e-02, -1.85262687e-01,  1.06060158e-01,
         4.26477467e-02, -4.09214074e-01,  3.81511926e-02,
         1.98118170e-02,  2.88384910e-02, -1.47893840e-02,
        -7.85601796e-03, -8.20675966e-02, -5.09925411e-02,
         8.66210443e-02, -3.84600370e-01, -5.19617584e-02,
         8.91656609e-02,  6.91732922e-02, -1.20759854e-01,
        -3.51988597e-02,  2.92303238e-01, -3.96850693e-01]])